 .btn-empty {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none; }

  .btn-empty:focus {
    border: none;
    outline: none;
}